@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AspNetCoreProject.Models.Comment
@{
    ViewData["Title"] = "Details";
    Layout = "~/Shared/_Layout.cshtml";
}

<style>
    .details-input {
        padding: 8px;
        display: block;
        border: none;
        font-size: large;
        border-bottom: 1px solid #ccc;
        width: 100%
    }

    body {
        font-family: 'Roboto', sans-serif !important;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .mainscreen {
        min-height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #963E7B;
    }

    .petbox {
        width: 60rem;
        margin: auto;
        background: white;
        position: center;
        align-self: center;
        top: 50rem;
        border-radius: 1.5rem;
        box-shadow: 4px 3px 20px #3535358c;
        display: flex;
        flex-direction: row;
    }

    .leftside {
        background: #030303;
        width: 25rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    .pet {
        object-fit: cover;
        width: 20em;
        height: 20em;
        border-radius: 100%;
    }

    .rightside {
        background-color: #ffffff;
        width: 35rem;
        border-bottom-right-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        padding: 1rem 2rem 3rem 3rem;
    }

    p {
        display: block;
        font-size: 1.1rem;
        font-weight: 400;
        margin: .8rem 0;
    }

    .inputbox {
        color: #030303;
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-bottom: 1.5px solid #ccc;
        margin-bottom: 1rem;
        border-radius: 0.3rem;
        font-family: 'Roboto', sans-serif;
        color: #615a5a;
        font-size: 1.1rem;
        font-weight: 500;
        outline: none;
    }

    .picselect {
        display: flex;
        justify-content: space-between;
        padding-top: 0.6rem;
    }

    .button {
        background: linear-gradient( 135deg, #753370 0%, #298096 100%);
        padding: 15px;
        border: none;
        border-radius: 50px;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: 10px;
        width: 100%;
        letter-spacing: .11rem;
        outline: none;
    }

        .button:hover {
            transform: scale(1.05) translateY(-3px);
            box-shadow: 3px 3px 6px #38373785;
        }

    .petbox {
        flex-direction: column;
        width: auto;
    }

    .leftside {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-radius: 0;
    }

    .rightside {
        width: auto;
        border-bottom-left-radius: 1.5rem;
        padding: 0.5rem 3rem 3rem 2rem;
        border-radius: 0;
    }
</style>

<div class="mainscreen">
    <div class="petbox">

        <div class="leftside">
            <img  style="max-height: 350px; border-radius: 8px;" src="/images/@ViewBag.Animal.PictureName" />
        </div>
        <div class="rightside">
            <h1>Pet Shop Details:</h1>
            <h3>Pet Name:</h3>
            <input value="@ViewBag.Animal.Name" class="details-input" readonly />
            <h3>Pet Age: </h3>
            <p></p>
            <input value="@ViewBag.Animal.Age" class="details-input" readonly />
            <h1>Pet Category</h1>
            <input value="@ViewBag.Animal.Category.Name" id="selectcategory" class="details-input" readonly />
            <p></p>
            <p>Pet Description:</p>
            <textarea class="inputbox" id="desription" rows="7" cols="50" readonly>@ViewBag.Animal.Description</textarea>
            <h3>Comment Section</h3>
            <form asp-controller="Home" asp-action="AddComment" asp-route-id="@ViewBag.Animal.AnimalID">
                <input type="text" asp-for="Content" />
                <span asp-validation-for="Content"></span>
                <input value="@ViewBag.Animal.AnimalID" asp-for="AnimalID" asp- type="hidden" />
                <button method="post" asp-controller="Home" asp-action="AddComment" type="submit">Add Comment</button>
                <br />
                <span><strong>Comment Lists:</strong></span>
            </form>
            @foreach (var comment in ViewBag.Animal.Comments)
            {
        <div>
            @comment.Content;
        </div>
            }
            <br /><br /><br />
            <a style="text-align:center" class="button" asp-controller="Home" asp-action="Catalog">Go Back</a>
        </div>

    </div>
</div>